* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(166, 223, 228);
    font-family: 'Times New Roman', Times, serif;
}


a {
    text-decoration: none;

}
img  {
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
   
    
}

.container {
    text-align: center;

}







