* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(255, 203, 107);
    margin: 10px;
}

img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    box-shadow: 2px 4px 20px 4px rgb(228, 20, 20);
    margin-bottom: 10px;
}

#container {
    display: flex;
    
    
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    
    box-shadow: 2px 2px 20px 2px black;
    gap: 10px;
    margin: 0 auto;

}
.card {
    text-align: center;
    
    
}

h1 {
    color: blue;
}

p {
    margin-bottom: 10px;
}

button {
    width: 270px;
    color: white;
    background-color: darkblue;
    border-radius: 8px;
}
